.link {
  padding: 0 1rem !important;
  margin: 0 0.5rem !important;
}

.link, .link:active {
  color: inherit !important;
}

.linkContainer {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  background-color: var(--true-blue);
  color: white
}